<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="./style/index.min.css" />
    <script src="./js/vue-3.3.8.min.js"></script>
    <script src="./js/util.js"></script>
  </head>
  <body>
    <div id="app" class="index">
      <div class="info">
        <div class="item" v-for="item in infos">
          <div class="label" v-html="item.label"></div>
          <div v-if="item.type =='text'" class="text" v-html="item.text"></div>
          <div v-else class="text">
            <input type="text" class="input" v-model="input[item.value]" />
          </div>
        </div>
      </div>
      <div v-if="menuIndex != 2 && navbar.index != 2 " class="date">
        <div class="text">時間:</div>
        <select class="select" v-model="date.year.select">
          <option v-for="i in years" :value="i+date.year.min-1" v-html="`${i+date.year.min-1}年`"></option>
        </select>
        <select class="select" v-model="date.month.select">
          <option value="0">整年</option>
          <option v-for="i in 12" :value="i" v-html="`${i}月`"></option>
        </select>
      </div>
      <div class="detail">
        <div class="line" v-for="array in details">
          <div class="item" v-for="item in array" v-html="item"></div>
        </div>
      </div>
      <div v-if="menuIndex == 0 && navbar.index != 2" class="benefit">
        <div class="line" v-for="array in benefits">
          <div class="item" v-for="item in array" v-html="item"></div>
        </div>
      </div>
      <div class="menu">
        <div :class="['item', {active: i == menuIndex}]" v-for="(item,i) in menus" v-html="item" @click="menuIndex = i"></div>
      </div>
      <div class="navbar">
        <div :class="['item', {active: i == navbar.index}]" v-for="(item,i) in navbarList" v-html="item" @click="i != 3 ? navbar.index = i:''"></div>
      </div>
    </div>
    <script>
      const data = {
        info: null,
        init() {
          this.info = new Object();
          this.info.benefit = this.createBenefit();
          this.info.mine = this.createMine();
          this.info.our = this.createOur();
          this.info.account = this.createAccount();
          this.calculateTotal();
        },
        createBenefit() {
          const addData = (name, date, price) => {
            const res = {
              name,
              date: new Date(date).getTime(),
              price: price * 1000,
              month: name == "00878" ? 3 : 1,
            };
            return res;
          };
          const res = [];
          res.push(addData("00929", "2023-09-19", 0.11));
          res.push(addData("00929", "2023-10-24", 0.11));
          res.push(addData("00878", "2023-11-16", 0.345));
          res.push(addData("00929", "2023-11-21", 0.11));
          res.push(addData("00929", "2023-12-19", 0.11));
          res.push(addData("00929", "2024-01-18", 0.13));
          res.push(addData("00929", "2024-02-29", 0.13));
          res.push(addData("00878", "2024-02-27", 0.395));
          res.push(addData("00929", "2024-03-19", 0.13));
          res.push(addData("00929", "2024-04-22", 0.2));
          res.push(addData("00929", "2024-05-21", 0.2));
          res.push(addData("00878", "2024-05-17", 0.51));
          res.push(addData("00929", "2024-06-20", 0.2));
          res.push(addData("00934", "2024-07-16", 0.33));
          res.push(addData("00929", "2024-07-17", 0.18));
          res.push(addData("00878", "2024-08-16", 0.55));
          res.push(addData("00934", "2024-08-16", 0.14));
          res.push(addData("00929", "2024-08-20", 0.18));
          res.push(addData("00934", "2024-09-18", 0.142));
          res.push(addData("00929", "2024-09-19", 0.16));
          res.push(addData("00934", "2024-10-17", 0.139));
          res.push(addData("00929", "2024-10-22", 0.14));
          res.push(addData("00934", "2024-11-18", 0.115));
          res.push(addData("00878", "2024-11-18", 0.55));
          res.push(addData("00929", "2024-11-19", 0.11));
          res.push(addData("00934", "2024-12-17", 0.023));
          res.push(addData("00929", "2024-12-18", 0.05));
          res.push(addData("00929", "2025-01-16", 0.05));
          res.push(addData("00934", "2025-01-17", 0.026));
          res.push(addData("00929", "2025-02-18", 0.05));
          res.push(addData("00934", "2025-02-18", 0.026));
          res.push(addData("00878", "2025-02-20", 0.5));
          res.push(addData("00934", "2025-03-18", 0.026));
          res.push(addData("00929", "2025-03-19", 0.05));
          res.push(addData("00934", "2025-04-18", 0.026));
          res.push(addData("00929", "2025-04-22", 0.05));
          res.push(addData("00878", "2025-05-19", 0.47));
          res.push(addData("00934", "2025-05-19", 0.026));
          res.push(addData("00929", "2025-05-20", 0.07));
          res.push(addData("00934", "2025-06-17", 0.028));
          res.push(addData("00929", "2025-06-18", 0.07));
          res.push(addData("00934", "2025-07-16", 0.077));
          res.push(addData("00929", "2025-07-17", 0.07));
          res.push(addData("00934", "2025-08-18", 0.077));
          res.push(addData("00878", "2025-08-18", 0.4));
          res.push(addData("00929", "2025-08-19", 0.08));
          return res;
        },
        createMine() {
          const res = {
            forex: [],
            stock: [],
            fee: [],
          };
          res.forex.push(this.createForex("美金", 3000, 0, 31.899, "2023-08-28", 0.0385, 12));
          res.forex.push(this.createForex("美金", 10000, 0, 32.133, "2024-04-28", 0.06, 1));
          res.stock.push(this.createStock("00929", 2, 34529, "2023-10-31"));
          res.stock.push(this.createStock("00929", 2, 34248, "2023-11-01"));
          res.stock.push(this.createStock("00929", 2, 34709, "2023-11-02"));
          res.stock.push(this.createStock("00929", 2, 35089, "2023-11-03"));
          res.stock.push(this.createStock("00929", 2, 35250, "2023-11-06"));
          res.stock.push(this.createStock("00929", 2, 35310, "2023-11-07"));
          res.stock.push(this.createStock("00929", 2, 35430, "2023-11-08"));
          res.stock.push(this.createStock("00929", 2, 35490, "2023-11-09"));
          res.stock.push(this.createStock("00929", 2, 35250, "2023-11-10"));
          res.stock.push(this.createStock("00929", 2, 35610, "2023-11-13"));
          res.stock.push(this.createStock("00929", 2, 35570, "2023-11-14"));
          res.stock.push(this.createStock("00929", 2, 35951, "2023-11-15"));
          res.stock.push(this.createStock("00929", 2, 35891, "2023-11-16"));
          res.stock.push(this.createStock("00929", 2, 35951, "2023-11-17"));
          res.stock.push(this.createStock("00929", 2, 36071, "2023-11-20"));
          res.stock.push(this.createStock("00929", 1, 18065, "2023-11-21"));
          res.stock.push(this.createStock("00929", 2, 37152, "2023-12-06"));
          res.stock.push(this.createStock("00929", 1, 18836, "2024-01-08"));
          res.stock.push(this.createStock("00929", 2, 37313, "2024-01-11"));
          res.stock.push(this.createStock("00929", 2, 37172, "2024-01-12"));
          res.stock.push(this.createStock("00929", 2, 37333, "2024-01-15"));
          res.stock.push(this.createStock("00929", 2, 37313, "2024-01-17"));
          res.stock.push(this.createStock("00929", 2, 41699, "2024-04-01"));
          res.stock.push(this.createStock("00929", 2, 42240, "2024-04-02"));
          res.stock.push(this.createStock("00929", 2, 42119, "2024-04-03"));
          res.stock.push(this.createStock("00929", 2, 42039, "2024-04-08"));
          res.stock.push(this.createStock("00929", 2, 42039, "2024-04-09"));
          res.stock.push(this.createStock("00929", 2, 42420, "2024-04-10"));
          res.stock.push(this.createStock("00929", 2, 42119, "2024-04-11"));
          res.stock.push(this.createStock("00929", 2, 42180, "2024-04-12"));
          res.stock.push(this.createStock("00929", 2, 41939, "2024-04-15"));
          res.stock.push(this.createStock("00929", 2, 40778, "2024-04-16"));
          res.stock.push(this.createStock("00929", 2, 40898, "2024-04-17"));
          res.stock.push(this.createStock("00929", 2, 41078, "2024-04-18"));
          res.stock.push(this.createStock("00929", 2, 39576, "2024-04-22"));
          res.stock.push(this.createStock("00929", 2, 39215, "2024-04-23"));
          res.stock.push(this.createStock("00929", 2, 39536, "2024-04-24"));
          res.stock.push(this.createStock("00929", 2, 39556, "2024-04-25"));
          res.stock.push(this.createStock("00929", 2, 39756, "2024-04-26"));
          res.stock.push(this.createStock("00929", 2, 40077, "2024-04-29"));
          res.stock.push(this.createStock("00929", 2, 40377, "2024-04-30"));
          res.stock.push(this.createStock("00929", 2, 39916, "2024-05-02"));
          res.stock.push(this.createStock("00929", 2, 40697, "2024-05-03"));
          res.stock.push(this.createStock("00929", 2, 40677, "2024-05-06"));
          res.stock.push(this.createStock("00929", 2, 40497, "2024-05-07"));
          res.stock.push(this.createStock("00929", 2, 40677, "2024-05-09"));
          res.stock.push(this.createStock("00929", 2, 40397, "2024-05-10"));
          res.stock.push(this.createStock("00929", 2, 40437, "2024-05-13"));
          res.stock.push(this.createStock("00929", 2, 40357, "2024-05-14"));
          res.stock.push(this.createStock("00929", 2, 40677, "2024-05-15"));
          res.stock.push(this.createStock("00929", 2, 40838, "2024-05-16"));
          res.stock.push(this.createStock("00929", 2, 40677, "2024-05-17"));
          res.stock.push(this.createStock("00929", 2, 40898, "2024-05-20"));
          res.stock.push(this.createStock("00929", 2, 40517, "2024-05-21"));
          res.stock.push(this.createStock("00929", 2, 43021, "2024-06-19"));
          res.stock.push(this.createStock("00929", 2, 36471, "2024-08-05"));
          res.stock.push(this.createStock("00929", 2, 39155, "2024-08-28"));
          res.stock.push(this.createStock("00929", 2, 39536, "2024-09-02"));
          res.stock.push(this.createStock("00929", 2, 38454, "2024-09-04"));
          res.stock.push(this.createStock("00929", 2, 38334, "2024-09-05"));
          res.stock.push(this.createStock("00929", 2, 37573, "2024-10-09"));
          res.stock.push(this.createStock("00929", 2, 37833, "2024-10-11"));
          res.stock.push(this.createStock("00929", 2, 37833, "2024-10-14"));
          res.stock.push(this.createStock("00929", 2, 36652, "2024-11-04"));
          res.stock.push(this.createStock("00929", 2, 36592, "2024-11-06"));
          res.stock.push(this.createStock("00929", 2, 30603, "2025-04-09"));
          res.stock.push(this.createStock("00929", 2, 31665, "2025-04-11"));
          res.stock.push(this.createStock("00929", 2, 33407, "2025-04-16"));
          res.stock.push(this.createStock("00929", 2, 36051, "2025-08-06"));
          res.stock.push(this.createStock("00929", 2, 36051, "2025-08-08"));
          res.stock.push(this.createStock("00929", 2, 35670, "2025-08-11"));
          res.stock.push(this.createStock("00929", 2, 35470, "2025-08-18"));
          return res;
        },
        createOur() {
          const res = {
            forex: [],
            stock: [],
            fee: [],
          };
          res.forex.push(this.createForex("日幣", 0, 10000, 0.2166, "2023-11-15", 0, 0));
          res.forex.push(this.createForex("日幣", 0, 10000, 0.2166, "2023-11-15", 0, 0));
          res.forex.push(this.createForex("日幣", 0, 20000, 0.2196, "2023-11-15", 0, 0));
          res.stock.push(this.createStock("00878", 1, 20849, "2023-09-15"));
          res.stock.push(this.createStock("00929", 1, 18326, "2023-09-15"));
          res.stock.push(this.createStock("00929", 2, 36632, "2023-09-18"));
          res.stock.push(this.createStock("00929", 2, 34669, "2023-10-04"));
          res.stock.push(this.createStock("00929", 1, 17076, "2023-10-26"));
          res.stock.push(this.createStock("00878", 1, 19716, "2023-10-26"));
          res.stock.push(this.createStock("00929", 2, 0, "2023-10-30", false));
          res.stock.push(this.createStock("00929", 2, 35250, "2023-11-06"));
          res.stock.push(this.createStock("00934", 2, 32346, "2023-11-28"));
          res.stock.push(this.createStock("00934", 2, 32926, "2023-12-06"));
          res.stock.push(this.createStock("00929", 2, 37713, "2024-01-08"));
          res.stock.push(this.createStock("00929", 1, 18666, "2024-01-15"));
          res.stock.push(this.createStock("00929", 3, 56209, "2024-02-15"));
          res.stock.push(this.createStock("00929", 3, 57081, "2024-02-16"));
          res.stock.push(this.createStock("00929", 2, 38594, "2024-02-20"));
          res.stock.push(this.createStock("00929", 2, 41999, "2024-04-08"));
          res.stock.push(this.createStock("00929", 2, 38314, "2024-09-05"));
          res.stock.push(this.createStock("00929", 2, 36051, "2024-12-12"));
          res.fee.push(this.createFee("手續費", "2023-10-05", 86));
          res.fee.push(this.createFee("手續費", "2023-11-03", 82));
          return res;
        },
        createAccount() {
          const addData = (...param) => {
            const { 0: name, 1: date, 2: value } = param;
            const res = {
              name,
              date: new Date(date).getTime(),
              value: name == "投錢" ? value * 2 : value,
            };
            return res;
          };
          const res = [];
          res.push(addData("投錢", "2023-09-15", 20000));
          res.push(addData("投錢", "2023-09-20", 19000));
          res.push(addData("投錢", "2023-10-04", 20000));
          res.push(addData("手續費回補", "2023-10-05", 86));
          res.push(addData("獲利", "2023-10-18", 330));
          res.push(addData("投錢", "2023-10-26", 20000));
          res.push(addData("投錢", "2023-10-30", 15000));
          res.push(addData("手續費回補", "2023-11-03", 82));
          res.push(addData("投錢", "2023-11-06", 20000));
          res.push(addData("獲利", "2023-11-17", 550));
          res.push(addData("手續費回補", "2023-12-05", 78));
          res.push(addData("投錢", "2023-12-06", 20000));
          res.push(addData("獲利", "2023-12-12", 690));
          res.push(addData("獲利", "2023-12-15", 880));
          res.push(addData("手續費回補", "2024-01-05", 37));
          res.push(addData("投錢", "2024-01-06", 20000));
          res.push(addData("獲利", "2024-01-15", 880));
          res.push(addData("手續費回補", "2024-02-05", 31));
          res.push(addData("投錢", "2024-02-07", 70000));
          res.push(addData("投錢", "2024-02-20", 3000));
          res.push(addData("獲利", "2024-02-22", 1430));
          res.push(addData("手續費回補", "2024-03-05", 84));
          res.push(addData("投錢", "2024-03-16", 20000));
          res.push(addData("獲利", "2024-03-25", 790));
          res.push(addData("獲利", "2024-03-26", 2470));
          res.push(addData("獲利", "2024-04-16", 2470));
          res.push(addData("獲利", "2024-05-20", 4200));
          res.push(addData("手續費回補", "2024-06-05", 4));
          res.push(addData("獲利", "2024-06-13", 1010));
          res.push(addData("獲利", "2024-06-17", 4200));
          res.push(addData("獲利", "2024-06-21", 90));
          res.push(addData("獲利", "2024-07-16", 4200));
          res.push(addData("獲利", "2024-08-09", 1310));
          res.push(addData("獲利", "2024-08-12", 3780));
          res.push(addData("投錢", "2024-09-05", 10000));
          res.push(addData("獲利", "2024-09-11", 550));
          res.push(addData("獲利", "2024-09-11", 1090));
          res.push(addData("獲利", "2024-09-31", 3780));
          res.push(addData("獲利", "2024-10-07", 21));
          res.push(addData("獲利", "2024-10-15", 558));
          res.push(addData("獲利", "2024-10-16", 3680));
          res.push(addData("獲利", "2024-11-12", 546));
          res.push(addData("獲利", "2024-11-15", 3220));
          res.push(addData("獲利", "2024-12-12", 1540));
          res.push(addData("投錢", "2024-12-12", 10000));
          res.push(addData("獲利", "2024-12-13", 2530));
          res.push(addData("獲利", "2024-12-21", 68));
          res.push(addData("手續費回補", "2025-01-03", 20));
          res.push(addData("獲利", "2024-01-13", 82));
          res.push(addData("獲利", "2025-01-14", 1250));
          res.push(addData("獲利", "2025-02-17", 1250));
          res.push(addData("獲利", "2025-02-20", 94));
          res.push(addData("獲利", "2025-03-17", 990));
          res.push(addData("獲利", "2025-03-17", 1250));
          res.push(addData("獲利", "2025-03-17", 94));
          res.push(addData("獲利", "2025-04-15", 94));
          res.push(addData("獲利", "2025-04-16", 1250));
          res.push(addData("獲利", "2025-05-15", 94));
          res.push(addData("獲利", "2025-05-19", 1250));
          res.push(addData("獲利", "2025-06-13", 94));
          res.push(addData("獲利", "2025-06-13", 930));
          res.push(addData("獲利", "2025-06-16", 1750));
          res.push(addData("獲利", "2025-06-21", 45));
          res.push(addData("獲利", "2025-06-21", 105));
          res.push(addData("獲利", "2025-07-14", 1750));
          res.push(addData("獲利", "2025-08-11", 298));
          res.push(addData("獲利", "2025-08-12", 1750));
          return res;
        },
        createStock(...param) {
          const { 0: name, 1: amount, 2: cost, 3: date, 4: state = true } = param;
          const res = {
            name,
            amount,
            cost,
            date: new Date(date).getTime(),
            total: 0,
            monthRate: 0,
            last: 0,
            state,
          };
          return res;
        },
        createForex(...param) {
          const { 0: name, 1: forex, 2: twd, 3: buyRate, 4: date, 5: yearRate, 6: month } = param;
          const forexCost = forex == 0 ? twd / buyRate : forex;
          const twdCost = forex == 0 ? twd : forex * buyRate;
          const res = {
            name,
            cost: {
              forex: util.decimalPoint(forexCost),
              twd: util.decimalPoint(twdCost),
            },
            date: new Date(date).getTime(),
            totalBenefit: ((forexCost * yearRate) / 12) * month,
            yearRate,
            month,
            exchangeType: name.includes("美金") ? "usd" : "jpy",
          };
          return res;
        },
        createFee(...param) {
          const { 0: name, 1: date, 2: value } = param;
          const res = {
            name,
            date: new Date(date).getTime(),
            value,
          };
          return res;
        },
        calculateTotal() {
          const updateStock = (benefit, type) => {
            const list = this.info[type].stock;
            list.forEach((stock) => {
              if (stock.name == benefit.name) {
                if (stock.date <= benefit.date && stock.state) {
                  stock.total += benefit.price * stock.amount;
                  stock.last = benefit.price * stock.amount;
                  stock.monthRate = util.decimalPoint(stock.last / stock.cost / benefit.month, 4);
                }
              }
            });
          };
          this.info.benefit.forEach((benefit) => {
            updateStock(benefit, "mine");
            updateStock(benefit, "our");
          });
        },
      };
      data.init();
      const { reactive, toRefs, computed, watch } = Vue;
      const app = {
        setup() {
          const state = reactive({
            navbar: {
              index: 1,
            },
            menuIndex: 0,
            date: {
              year: {
                min: 2023,
                select: 2023,
              },
              month: {
                select: 0,
              },
            },
            input: {
              usd: 31.704,
              jpy: 0.2102,
              total: 10000000,
              loanLevel: 0.7,
              loanRate: 1.7,
              loanYear: 30,
              radio: util.decimalPoint(1 / 3, 2),
            },
          });
          watch(
            () => state.navbar.index,
            (newValue, oldValue) => {
              if (oldValue != 2) {
                if (newValue == 0 && state.menuIndex == 2) {
                  state.menuIndex = 0;
                }
              } else {
                state.menuIndex = 0;
              }
              if (newValue == 2) {
                state.menuIndex = 0;
              }
            }
          );
          const navbarList = computed(() => {
            const res = ["自己", "共同", "房貸試算"];
            const now = new Date().getTime();
            const start = new Date("2022-06-22").getTime();
            const day = 60 * 60 * 24 * 1000;
            const elapse = Math.floor((now - start) / day);
            res.push(`交往<br>第${elapse}天`);
            return res;
          });
          const menus = computed(() => {
            const res = ["股票", "外匯"];
            const { index } = state.navbar;
            if (index == 1) {
              res.push("金流");
            } else if (index == 2) {
              res.length = 0;
              res.push("本息平均攤還法", "本金平均攤還法");
            }
            return res;
          });
          const infos = computed(() => {
            const changeUnit = (obj) => {
              Object.keys(obj).forEach((key) => {
                const type = typeof obj[key];
                if (type == "number") {
                  if (obj[key] >= 10000) {
                    obj[key] = `${util.decimalPoint(obj[key] / 10000, 5)}萬`;
                  }
                } else if (type == "object") {
                  changeUnit(obj[key]);
                }
              });
            };
            const res = [];
            const { menuIndex } = state;
            if (state.navbar.index != 2) {
              if (menuIndex == 0) {
                const getTotal = () => {
                  const res = {
                    cost: 0,
                    monthRate: 0,
                    yearRate: 0,
                    benefit: 0,
                    fee: 0,
                    lastMonth: 0,
                  };
                  const array = [];
                  const { stock: stocks, fee: fees } = state.navbar.index == 0 ? data.info.mine : data.info.our;
                  stocks.forEach((stock) => {
                    res.cost += stock.cost;
                    if (stock.monthRate != 0) {
                      array.push(stock.monthRate);
                    }
                    res.benefit += stock.total;
                    res.lastMonth += stock.last;
                  });
                  fees.forEach((fee) => {
                    res.fee += fee.value;
                  });
                  res.benefit += res.fee;
                  res.monthRate = array.length != 0 ? util.decimalPoint(array.reduce((previous, current) => (current += previous), 0) / array.length, 4) : 0;
                  res.yearRate = util.decimalPoint(res.monthRate * 12, 4);
                  return res;
                };
                const total = getTotal();
                res.push({ label: "總投資", type: "text", text: `${util.decimalPoint(total.cost / 10000, 4)}萬` });
                res.push({ label: "平均月", type: "text", text: `${util.decimalPoint(total.monthRate * 100, 2)}%` });
                res.push({ label: "平均年", type: "text", text: `${util.decimalPoint(total.yearRate * 100, 2)}%` });
                res.push({ label: "月獲利", type: "text", text: `${total.lastMonth}` });
                res.push({ label: "總獲利", type: "text", text: total.benefit });
                res.push({ label: "手續費回補", type: "text", text: total.fee });
              } else if (menuIndex == 1) {
                const getTotal = () => {
                  const res = {
                    cost: 0,
                    monthRate: 0,
                    yearRate: 0,
                    benefit: 0,
                  };
                  const array = [];
                  const { forex } = state.navbar.index == 0 ? data.info.mine : data.info.our;
                  forex.forEach((item) => {
                    res.cost += item.cost.twd;
                    if (item.yearRate != 0) {
                      array.push(item.yearRate);
                    }
                    res.benefit += util.decimalPoint((item.cost.forex + item.totalBenefit) * state.input[item.exchangeType] - item.cost.twd);
                  });
                  res.yearRate = array.length != 0 ? util.decimalPoint(array.reduce((previous, current) => (current += previous), 0) / array.length, 4) : 0;
                  res.monthRate = util.decimalPoint(res.yearRate / 12, 4);
                  return res;
                };
                const total = getTotal();
                res.push({ label: "總投資", type: "text", text: `${util.decimalPoint(total.cost / 10000, 4)}萬` });
                res.push({ label: "平均月", type: "text", text: `${util.decimalPoint(total.monthRate * 100, 2)}%` });
                res.push({ label: "平均年", type: "text", text: `${util.decimalPoint(total.yearRate * 100, 2)}%` });
                res.push({ label: "總獲利", type: "text", text: total.benefit });
                res.push({ label: "美金匯率", type: "input", value: "usd" });
                res.push({ label: "日圓匯率", type: "input", value: "jpy" });
              } else if (menuIndex == 2) {
                const getInfo = () => {
                  const res = {
                    cost: {
                      forex: 0,
                      stock: 0,
                      total: 0,
                    },
                    benefit: {
                      forex: 0,
                      stock: 0,
                      total: 0,
                      left: 0,
                    },
                    account: {
                      total: 0,
                      left: 0,
                      fee: 0,
                      benefit: 0,
                    },
                  };
                  data.info.our.stock.forEach((stock) => {
                    res.cost.stock += stock.cost;
                    res.benefit.stock += stock.total;
                  });
                  data.info.our.forex.forEach((forex) => {
                    res.cost.forex += forex.cost.twd;
                    res.benefit.forex += forex.totalBenefit;
                  });
                  res.cost.total = res.cost.stock;
                  res.benefit.total = res.benefit.stock + res.benefit.forex;
                  data.info.account.forEach((account) => {
                    const { name, value } = account;
                    if (name == "投錢") {
                      res.account.total += value;
                    } else if (name == "手續費回補") {
                      res.account.fee += value;
                    } else if (name == "獲利") {
                      res.account.benefit += value;
                    }
                  });
                  res.account.left = res.account.total + res.account.fee + res.account.benefit - res.cost.total;
                  res.benefit.left = res.benefit.total - res.account.benefit;
                  changeUnit(res);
                  return res;
                };
                const info = getInfo();
                res.push({ label: "投資外匯", type: "text", text: `${info.cost.forex}` });
                res.push({ label: "投資股票", type: "text", text: `${info.cost.stock}` });
                res.push({ label: "投資總計", type: "text", text: `${info.cost.total}` });
                res.push({ label: "", type: "text", text: `` });
                res.push({ label: "獲利外匯", type: "text", text: `${info.benefit.forex}` });
                res.push({ label: "獲利股票", type: "text", text: `${info.benefit.stock}` });
                res.push({ label: "獲利總計", type: "text", text: `${info.benefit.total}` });
                res.push({ label: "未入帳獲利", type: "text", text: `${info.benefit.left}` });
                res.push({ label: "總投金額", type: "text", text: `${info.account.total}` });
                res.push({ label: "手續費回補", type: "text", text: `${info.account.fee}` });
                res.push({ label: "已入帳獲利", type: "text", text: `${info.account.benefit}` });
                res.push({ label: "帳戶剩餘金額", type: "text", text: `${info.account.left}` });
              }
            } else {
              const { total, loanLevel, loanRate, loanYear } = state.input;
              res.push({ label: "房屋總價", type: "input", value: "total" });
              res.push({ label: "貸款成數", type: "input", value: "loanLevel" });
              res.push({ label: "貸款年利率", type: "input", value: "loanRate" });
              res.push({ label: "貸款年限", type: "input", value: "loanYear" });
              res.push({ label: "貸款總額", type: "text", text: util.decimalPoint(total * loanLevel) });
              res.push({ label: "貸款總利息", type: "text", text: util.decimalPoint(loan.value.interest) });
              res.push({ label: "總支出", type: "text", text: `${util.decimalPoint((loan.value.interest + Number(total)) / 1000) / 10}萬` });
              res.push({ label: "負擔比例", type: "input", value: "radio" });
            }
            return res;
          });
          const details = computed(() => {
            const res = [];
            const { select: year } = state.date.year;
            const { select: month } = state.date.month;
            let start = 0;
            let end = 0;
            if (month == 0) {
              start = new Date(`${year}-01`).getTime();
              end = new Date(`${year + 1}-01`).getTime();
            } else if (month == 12) {
              start = new Date(`${year}-12`).getTime();
              end = new Date(`${year + 1}-01`).getTime();
            } else {
              start = new Date(`${year}-${month}`).getTime();
              end = new Date(`${year}-${month + 1}`).getTime();
            }
            if (state.navbar.index != 2) {
              if (state.menuIndex == 0) {
                res.push(["項目", "張數", "花費", "日期", "總獲利", "最近獲利", "月利率"]);
                const { stock: stocks } = state.navbar.index == 0 ? data.info.mine : data.info.our;
                stocks.forEach((stock) => {
                  const { name, amount, cost, date, total, last, monthRate } = stock;
                  if (date >= start && date < end) {
                    res.push([name, amount, cost, util.formateDate(date, "MM-DD"), total, last, monthRate]);
                  }
                });
              } else if (state.menuIndex == 1) {
                res.push(["項目", "買(外)", "買(台)", "年利率", "日期", "期間", "獲利(外)", "獲利(台)"]);
                const { forex } = state.navbar.index == 0 ? data.info.mine : data.info.our;
                forex.forEach((item) => {
                  const { name, cost, yearRate, date, totalBenefit, month } = item;
                  const twdBenefit = util.decimalPoint((cost.forex + totalBenefit) * state.input[item.exchangeType] - cost.twd);
                  if (date >= start && date < end) {
                    res.push([name, cost.forex, cost.twd, yearRate, util.formateDate(date, "MM-DD"), `${month}月`, totalBenefit, twdBenefit]);
                  }
                });
              } else if (state.menuIndex == 2) {
                res.push(["項目", "日期", "金額"]);
                data.info.account.forEach((account) => {
                  const { name, date, value } = account;
                  res.push([name, util.formateDate(date, "YYYY-MM-DD"), value]);
                });
              }
            } else {
              res.push(["月數", "本金償還", "利息償還", "月付", "Ling負擔", "Ice負擔"]);
              loan.value.list.forEach((item) => {
                const { month, backCapital, interest, total } = item;
                const ling = util.decimalPoint(total * state.input.radio);
                const ice = util.decimalPoint(total - ling);
                res.push([month, backCapital, interest, total, ling, ice]);
              });
            }
            return res;
          });
          const benefits = computed(() => {
            const res = [];
            res.push(["項目", "日期", "除息", "頻率"]);
            data.info.benefit.forEach((benefit) => {
              const { name, date, price, month } = benefit;
              res.push([name, util.formateDate(date, "YYYY-MM-DD"), price, month == 3 ? "每季" : "每月"]);
            });
            return res;
          });
          const years = computed(() => {
            let res = 1;
            const now = new Date().getFullYear();
            res = now - state.date.year.min + 1;
            return res;
          });
          const loan = computed(() => {
            const res = {
              interest: 0,
              list: [],
            };
            if (state.navbar.index == 2) {
              const { total, loanLevel, loanRate, loanYear } = state.input;
              const totalCapital = util.decimalPoint(total * loanLevel);
              if (state.menuIndex == 1) {
                const addLoan = (month, capital) => {
                  const backCapital = util.decimalPoint(totalCapital / (loanYear * 12));
                  const interest = util.decimalPoint((capital * loanRate) / 100 / 12);
                  const left = util.decimalPoint(capital - backCapital);
                  const total = util.decimalPoint(backCapital + interest);
                  const obj = {
                    capital: left,
                    interest,
                    month,
                    backCapital,
                    total,
                  };
                  res.list.push(obj);
                };
                for (let i = 0; i < loanYear * 12; i++) {
                  const capital = res.list.length == 0 ? totalCapital : res.list[res.list.length - 1].capital;
                  addLoan(i + 1, capital);
                }
              } else if (state.menuIndex == 0) {
                const addLoan = (month, total, capital) => {
                  const interest = util.decimalPoint((capital * loanRate) / 100 / 12);
                  const backCapital = util.decimalPoint(total - interest);
                  const left = util.decimalPoint(capital - backCapital);
                  const obj = {
                    capital: left,
                    interest,
                    month,
                    backCapital,
                    total,
                  };
                  res.list.push(obj);
                };
                const monthRate = loanRate / 12 / 100;
                const month = loanYear * 12;
                const total = util.decimalPoint(((Math.pow(1 + monthRate, month) * monthRate) / (Math.pow(1 + monthRate, month) - 1)) * totalCapital);
                for (let i = 0; i < loanYear * 12; i++) {
                  const capital = res.list.length == 0 ? totalCapital : res.list[res.list.length - 1].capital;
                  addLoan(i + 1, total, capital);
                }
              }
            }
            res.list.forEach((item) => {
              res.interest += item.interest;
            });
            return res;
          });
          return {
            ...toRefs(state),
            navbarList,
            menus,
            infos,
            details,
            benefits,
            years,
          };
        },
      };
      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
