@mixin flex($dir: "", $align: "", $justify: "", $gap: "", $wrap: "") {
  display: flex;
  @if ($dir != "") {
    flex-direction: $dir;
  }
  @if ($align != "") {
    align-items: $align;
  }
  @if ($justify != "") {
    justify-content: $justify;
  }
  @if ($wrap != "") {
    flex-wrap: $wrap;
  }
  @if ($gap != "") {
    gap: $gap;
  }
}
@mixin size($w: "", $h: "") {
  @if ($w != "") {
    width: $w;
  }
  @if ($h != "") {
    height: $h;
  }
}
@mixin img($src, $w: "", $h: "", $position: center, $size: cover) {
  background: $src no-repeat $position / $size;
  @include size($w, $h);
}
@mixin font($size: 24, $color: "", $weight: "", $align: "") {
  @if ($color != "") {
    color: $color;
  }
  @if ($weight != "") {
    font-weight: $weight;
  }
  @if ($align != "") {
    text-align: $align;
  }
  font-size: ($size) * 0.01rem;
}
* {
  box-sizing: border-box;
}
